<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/butterup.min.css' %}" rel="stylesheet">
  {% block css %}{% endblock css %}
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/crousal.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <style>
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      align-items: center;
    }

    .navbar-brand img {
      height: 30px;
      margin-right: 10px;
    }

    .nav-center {
      margin: auto;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 50px;
      padding: 5px 15px;
    }

    .nav-center .nav-link {
      font-weight: bold;
      color: black;
      padding: 5px 10px;
    }

    .nav-center .nav-link:hover {
      text-decoration: none;
    }

    .nav-icons .nav-link {
      padding: 5px;
    }

    .nav-icons .nav-link img {
      width: 24px;
      height: 24px;
    }

      {% block style %}

      {% endblock style %}
  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-white mb-2">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/Group 1.svg' %}" alt="Bootstrap" style="height: 130px; height: 60px;">
      </a>
      <div class="nav-center p-2">
        <a class="nav-link" style="font-weight: 500; padding-left: 30px; padding-right: 30px;" href="/">Explorer</a>
        <a class="nav-link" style="font-weight: 500; padding-left: 30px; padding-right: 30px;"
          href="/nakiese/Hébergements">Hébergements</a>
        <a class="nav-link" style="font-weight: 500; padding-left: 30px; padding-right: 30px;"
          href="/nakiese/resturants">Restauration</a>
      </div>
      <div class="nav-icons d-flex" id="utiles">

      </div>
    </div>
  </nav>

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header pt-4">
      <h5 class="offcanvas-title" id="offcanvasRightLabel"><img src="{% static 'images/Group 1.svg' %}" alt=""
          width="140" height="50"></h5>
      <button type="button" class="btn-close mt-2" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0" style="position: relative;">
      <div class="p-4">
        <h6 style="font-weight: bold; margin-bottom: 10px;">Menu</h6>
        <div class="mb-2">
          <ul>
            <li class="mt-2">Explorer</li>
            <div class="line"></div>
            <li class="mt-2">Hébergements</li>
            <div class="line"></div>
            <li class="mt-2">Restauration</li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-evenly align-items-center bg-res p-2"
        style="position: absolute; bottom: 0px; height: auto; width: 100%; z-index:100">
        <div style="position: relative;"><img src="{% static 'images/epinher.svg' %}" alt="circle"></div>
        <div style="position: relative;"><img src="{% static 'images/epinher.svg' %}" alt="circle"></div>
        <div style="position: relative;"><img src="{% static 'images/epinher.svg' %}" alt="circle"></div>
      </div>
    </div>
  </div>
  <!-- Modal -->
<div class="modal fade" id="languageop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <h1 class="modal-title fs-5" id="staticBackdropLabel" style="font-weight: bold; font-size: 18px;">Select Your Language</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="container text-center">
          <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light">Row column</div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>
  {% block content %}{% endblock content %}
  <footer>
    <div class="container pt-5">
      <div class="row g-4">
        <div class="col-12 col-md-12 col-lg-12 d-lg-flex">
          <!-- First column that will be 100% width on medium devices -->
          <div class="col-lg-4 mb-4 mb-lg-0 pe-4">
            <img src="{% static 'images/Group 1.svg' %}" width="165" height="60" alt="logo">
            <p class="mt-4">Departure defective arranging rapturous did believe him all had supported.</p>
            <div class="d-flex align-items-center mb-2">
              <img src="{% static 'images/ph.svg' %}" alt="" style="margin-right: 10px;">
              <span>+1 234 345678890</span>
            </div>
            <div class="d-flex align-items-center mb-5">
              <img src="{% static 'images/mail.svg' %}" alt="" style="margin-right: 10px;">
              <span>example@gmail.com</span>
            </div>

          </div>

          <!-- Remaining four columns -->
          <div class="col-lg-7 fts-xe2" style="margin-left: auto;">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
              <div class="col">
                <h4 style="font-weight: 700; font-size:24px">Pages</h2>
                  <div class="mb-2">
                    <ul style="list-style: none; padding-left: 0px;">
                      <li><a class="nav-link" href="/">Hotels</a></li>
                      <li><a class="nav-link" href="/nakiese/resturants">Resturants</a></li>
                      <li><a class="nav-link" href="/nakiese/about-us">about</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                    </ul>
                  </div>

              </div>
              <div class="col">
                <h4 style="font-weight: 700; font-size:24px">links</h2>
                  <div class="mb-2">
                    <ul style="list-style: none; padding-left: 0px;">
                      <li><a class="nav-link" href="/login">Login</a></li>
                      <li><a class="nav-link" href="/register">Sign Up</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                    </ul>
                  </div>
              </div>
              <div class="col">
                <h4 style="font-weight: 700; font-size:24px">Global Site</h2>
                  <div class="mb-2">
                    <ul style="list-style: none; padding-left: 0px;">
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                    </ul>
                  </div>
              </div>
              <div class="col">
                <h4 style="font-weight: 700; font-size:24px">Booking</h2>
                  <div class="mb-2">
                    <ul style="list-style: none; padding-left: 0px;">
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                      <li><a class="nav-link" href="#">links</a></li>
                    </ul>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2 d-flex justify-content-between aign-items-center flex-wrap">
        <div>
          <h4 style="font-weight: 600;">Payment & Security</h4>
          <div class="d-flex  aign-items-center" style="position: relative;">
            <div class="fts-xxe0"><img src="{% static 'images/epinher.svg' %}" alt="circle"> <img
                style="position: absolute; top: 5px; left: 8px; z-index:50;" src="{% static 'images/image 4.svg' %}"
                alt="image">
            </div>
            <div class="fts-xxe0"><img src="{% static 'images/epinher.svg' %}" alt="circle"> <img
                style="position: absolute; top: 12px; left: 5px; z-index:50;" src="{% static 'images/image 5.svg' %}"
                alt="image">
            </div>
            <div class="fts-xxe0"><img src="{% static 'images/epinher.svg' %}" alt="circle"> <img
                style="position: absolute; top: 10px; left: 5px; z-index:50;" src="{% static 'images/image 6.svg' %}"
                alt="image">
            </div>
          </div>
        </div>
        <div>
          <h4 class="fts-xe4 text-end" style="font-weight: 600;">Follow us on</h4>
          <div class="d-flex  aign-items-center">
            <div class="fts-xxe1 "><img src="{% static 'images/epinher.svg' %}" alt="circle"><img class="fts-xxxe1"
                src="{% static 'images/image 1.svg' %}" alt="icon"></div>
            <div class="fts-xxe1"><img src="{% static 'images/epinher.svg' %}" alt="circle"><img class="fts-xxxe1"
                src="{% static 'images/image 2.svg' %}" alt="icon"></div>
            <div class="fts-xxe1"><img src="{% static 'images/epinher.svg' %}" alt="circle"><img class="fts-xxxe1"
                src="{% static 'images/image 3.svg' %}" alt="icon"></div>
            <div class="fts-xxe1"><img src="{% static 'images/epinher.svg' %}" alt="circle"><img class="fts-xxxe1"
                src="{% static 'images/image.svg' %}" alt="icon"></div>
          </div>
        </div>
      </div>
      <hr>

      <div class="mb-2 d-flex justify-content-between aign-items-center pt-3 pb-2">
        <div>
          <span>Copyrights ©2024 Nakiese. Built By Imara Technology</span>

        </div>
        <div class=" d-flex justify-content-between aign-items-center">
          <div style="margin-left: 10px;"><a class="nav-link" href="/terms-and-conditions/">Terms and condition</a></div>
          <div style="margin-left: 10px;"><a class="nav-link" href="/privacy-policy/">Privacy policy</a></div>
          <div style="margin-left: 10px;"><a class="nav-link" href="#">Refund Policy</a></div>


        </div>
      </div>
    </div>

  </footer>
  <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="{% static 'js/butterup.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/cam-slider.js' %}"></script>
  <script src="{% static 'js/crousal.js' %}"></script>
  <script src="{% static 'js/worker.js' %}"></script>
  <script src="{% static 'js/apps.js' %}"></script>
  <script>
   

    {% block script %} {% endblock script %}
  </script>
</body>

</html>