<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant UI</title>
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="assets/css/custom-styles.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="assets/js/jquery-3.6.0.js"></script>
    <script src="assets/js/bootstrap.js"></script>
</head>
<body>
    
    
    <div class="container">
        <div class="menu">
            <h2>Notre menu</h2>
            <div class="menu-item">
                <img src="assets/images/dish-1.jpg" alt="Dish" />
                <div class="menu-details">
                    <span class="status">Disponible</span>
                    <h3>La bouillabaisse + spécialité du chef</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <span>4.9 (87 avis)</span>
                    </div>
                    <p class="price">$35</p>
                </div>
                <div class="favorite"><i class="fa fa-heart"></i></div>
            </div>
            <div class="menu-item">
                <img src="assets/images/dish-2.jpg" alt="Dish" />
                <div class="menu-details">
                    <span class="status">Disponible</span>
                    <h3>La bouillabaisse + spécialité du chef</h3>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <span>4.9 (127 avis)</span>
                    </div>
                    <p class="price">$20</p>
                </div>
                <div class="favorite"><i class="fa fa-heart"></i></div>
            </div>
        </div>
        <div class="reservation">
            <div class="reservation-header">
                <span class="price">$250</span><span>/table</span>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <span>4.99</span>
                </div>
            </div>
            <div class="reservation-details">
                <div class="date">DATE: 11/10/1999</div>
                <div class="persons">NOMBRE DE PERSONNE: 2 personnes</div>
            </div>
            <button class="reserve-button">Reserve</button>
            <div class="reservation-summary">
                <p>1 table pour 2: <span>$500.00</span></p>
                <p>Reductions: <span>-$0.00</span></p>
                <p>Autres frais: <span>$0.00</span></p>
                <p class="total">Total à payer: <span>$2,400</span></p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container pt-5">
          <div class="row g-4">
            <div class="col-12 col-md-12 col-lg-12 d-lg-flex">
              <!-- First column that will be 100% width on medium devices -->
              <div class="col-lg-4 mb-4 mb-lg-0 p-0">
                <img src="./assets/images/Group 1.svg" width="165" height="60" alt="logo">
                <p class="mt-4">Departure defective arranging rapturous did believe him all had supported.</p>
                <div class="d-flex align-items-center mb-2">
                  <img src="./assets/images/ph.svg" alt="" style="margin-right: 10px;">
                  <span>+1 234 345678890</span>
                </div>
                <div class="d-flex align-items-center mb-5">
                  <img src="./assets/images/mail.svg" alt="" style="margin-right: 10px;">
                  <span>example@gmail.com</span>
                </div>
    
              </div>
    
              <!-- Remaining four columns -->
              <div class="col-lg-7 fts-xe2">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                  <div class="col">
                    <h4 style="font-weight: 700; font-size:24px">Pages</h2>
                      <div class="mb-2">
                        <ul>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                        </ul>
                      </div>
                    
                  </div>
                  <div class="col">
                    <h4 style="font-weight: 700; font-size:24px">links</h2>
                      <div class="mb-2">
                        <ul>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                        </ul>
                      </div>
                  </div>
                  <div class="col">
                    <h4 style="font-weight: 700; font-size:24px">Global Site</h2>
                      <div class="mb-2">
                        <ul>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                        </ul>
                      </div>
                  </div>
                  <div class="col">
                    <h4 style="font-weight: 700; font-size:24px">Booking</h2>
                      <div class="mb-2">
                        <ul>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                          <li><a href="#">links</a></li>
                        </ul>
                      </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-2 d-flex justify-content-between aign-items-center flex-wrap">
            <div>
              <h4 style="font-weight: 600;">Payment & Security</h4>
              <div class="d-flex  aign-items-center">
                <div class="fts-xxe0"><img src="./assets/images/epinher.svg"  alt="circle"> <img style="position: absolute; top: 5px; left: 8px; z-index:50;" src="./assets/images/image 4.svg" alt=""></div>
                <div class="fts-xxe0"><img src="./assets/images/epinher.svg"  alt="circle"> <img style="position: absolute; top: 12px; left: 5px; z-index:50;" src="./assets/images/image 5.svg" alt=""></div>
                <div class="fts-xxe0"><img src="./assets/images/epinher.svg"  alt="circle"> <img style="position: absolute; top: 10px; left: 5px; z-index:50;" src="./assets/images/image 6.svg" alt=""></div>
              </div>
            </div>
            <div>
              <h4 class="fts-xe4">Follow us on</h4>
              <div class="d-flex  aign-items-center" >
                <div class="fts-xxe1"><img src="./assets/images/epinher.svg" alt="circle"><img class="fts-xxxe1"  src="./assets/images/image 1.svg" alt="icon"></div>
                <div class="fts-xxe1"><img src="./assets/images/epinher.svg" alt="circle"><img class="fts-xxxe1"  src="./assets/images/image 2.svg" alt="icon"></div>
                <div class="fts-xxe1"><img src="./assets/images/epinher.svg" alt="circle"><img class="fts-xxxe1"  src="./assets/images/image 3.svg" alt="icon"></div>
                <div class="fts-xxe1"><img src="./assets/images/epinher.svg" alt="circle"><img class="fts-xxxe1"  src="./assets/images/image.svg" alt="icon"></div>
              </div>
            </div>
          </div>
          <hr>
    
          <div class="mb-2 d-flex justify-content-between aign-items-center">
            <div>
              <span>Copyrights ©2024  Nakiese. Build By Imara Technology</span>
              
            </div>
            <div class=" d-flex justify-content-between aign-items-center">
              <div style="margin-left: 10px;"><a href="#">Terms and condition</a></div>
              <div style="margin-left: 10px;"><a href="#">Privacy policy</a></div>
              <div style="margin-left: 10px;"><a href="#">Refund Policy</a></div>
             
              
            </div>
          </div>
        </div>
    
      </footer>
    
</body>
</html>
