{% extends "base/base.html" %}
{% load static %}
{% block title %}Account Settings{% endblock title %}
{% block content %}

  <div class="container custom-margin-1 custom-margin-2">
    <div class="row row-cols-1 row-cols-md-4 g-4 custom-margin-3">
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-11.jpg' %}" class="img-fluid rounded-start" alt="Pulman Lubumbashi">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Lubumbashi</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Lubumbashi, Haut-Katanga</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-2.jpg' %}" class="img-fluid rounded-start" alt="Pulman Kinshasa">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Kinshasa</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Kinshasa, Kinshasa</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-3.jpg' %}" class="img-fluid rounded-start" alt="Pulman Kolwezi">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Kolwezi</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Kolwezi, Lwalaba</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-4.jpg' %}" class="img-fluid rounded-start" alt="Pulman Mbuji mayi">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Mbuji mayi</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Mbuji mayi, Kasai Oriental</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4 custom-margin-3">
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-11.jpg' %}" class="img-fluid rounded-start" alt="Pulman Lubumbashi">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Lubumbashi</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Lubumbashi, Haut-Katanga</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-2.jpg' %}" class="img-fluid rounded-start" alt="Pulman Kinshasa">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Kinshasa</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Kinshasa, Kinshasa</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-3.jpg' %}" class="img-fluid rounded-start" alt="Pulman Kolwezi">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Kolwezi</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Kolwezi, Lwalaba</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
      <div class="col d-flex flex-column">
        <img src="{% static 'images/restaurant-4.jpg' %}" class="img-fluid rounded-start" alt="Pulman Mbuji mayi">
        <div class="card-body p-0">
          <a href="restaurant.html">
            <h5 class="card-title">Steakhouse Mbuji mayi</h5>
            <p class="card-text"><i class="fi fi-rr-marker"></i> Mbuji mayi, Kasai Oriental</p>
            <p class="card-text"><i class="fi fi-rr-terrace"></i> table pour deux</p>
            <p class="card-text"><strong>$50</strong> /table ★4.9</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-flex justify-content-center container-v2">
    <button type="button" class="btn btn-outline-primary">Voir plus d'hotels</button>
  </div>
  {% endblock content %}